$font_path: '~@/assets/fonts/';

// LIGHT 
@font-face {
	font-family: 'Open Sans';
	font-weight: 300;
	font-style: normal;
	src: url($font_path + 'OpenSans-Light.ttf'),
  url($font_path + 'OpenSans-LightItalic.ttf');
}

//REGULAR 
@font-face {
	font-family: 'Open Sans';
	font-weight: 400;
	font-style: normal;
	src: url($font_path + 'OpenSans-Regular.ttf');
}

// ITALIC
@font-face {
	font-family: 'Open Sans';
	font-weight: 400;
	font-style: italic;
	src: url($font_path + 'OpenSans-Italic.ttf');
}

//SEMI-BOLD 
@font-face {
	font-family: 'Open Sans';
	font-weight: 600;
	font-style: bold;
	src: url($font_path + 'OpenSans-SemiBold.ttf');
}

//SEMI-BOLD 
@font-face {
	font-family: 'Open Sans';
	font-weight: 600;
	font-style: italic;
	src: url($font_path + 'OpenSans-SemiBoldItalic.ttf');
}

// BOLD
@font-face {
	font-family: 'Open Sans';
	font-weight: 700;
	font-style: bold;
	src: url($font_path + 'OpenSans-Bold.ttf');
}

// BOLD Italic
@font-face {
	font-family: 'Open Sans';
	font-weight: 700;
	font-style: italic;
	src: url($font_path + 'OpenSans-BoldItalic.ttf');
}

// EXTRA-BOLD
@font-face {
	font-family: 'Open Sans';
	font-weight: 800;
	font-style: bold;
	src: url($font_path + 'OpenSans-Bold.ttf'),
    url($font_path + 'OpenSans-BoldItalic.ttf'),
    url($font_path + 'OpenSans-ExtraBoldItalic.ttf'),
    url($font_path + 'OpenSans-ExtraBold.ttf');
}

$font_family: 'Open Sans', sans-serif;
