<template>
  <div class="mx-general-information" data-print="no-print">
    <span>Firma:&nbsp;<strong>{{validRowForSelectedOption[1]}}</strong></span>
    <span>Anzahl der Etiketten:&nbsp;<strong id="numberOfLabels">{{validRowForSelectedOption[12]}}</strong></span>
    <span>Startwert des Etiketts:&nbsp;<strong id="firstLabel">{{validRowForSelectedOption[10]}}</strong></span>
    <span>Endwert des Etiketts:&nbsp;<strong id="lastLabel">{{validRowForSelectedOption[11]}}</strong></span>
    <span>Druckstatus:&nbsp;
      <strong id="printState" :class="{'mx-print-state--printed': isPrinted}" class="mx-print-state--not-printed">{{validRowForSelectedOption[9]}}</strong>
    </span>
  </div>
</template>

<script>

export default {
  name: 'GeneralInformation',

  props: {
    validRowForSelectedOption: Array
  },

  watch: {
    getSelectedOption () {
      this.$nextTick(() => {
        const getInputFromPrintState = document.querySelector('#printState').textContent.trim()
        this.isPrinted = false
        if (getInputFromPrintState === 'Gedruckt') {
          this.isPrinted = true
        }
      })
    }
  },

  data () {
    return {
      isPrinted: false
    }
  },

  computed: {
    getSelectedOption () {
      return this.$store.getters.getSelectedOption
    }
  }
}

</script>

<style lang="scss">

.mx-general-information {
  color: #efefef;
  font-size: 1.6rem;
  padding-left: 5rem;
}

.mx-general-information > span {
  display: block;
  line-height: 1.5;
}

.mx-print-state--not-printed {
  color: red;
}

.mx-print-state--printed {
  color: #3c8062;
}

</style>
