<template>
  <div class="mx-labels">
    <general-information :validRowForSelectedOption=validRowForSelectedOption />
    <div class="mx-labels-cta">
      <div v-if="checkIfArrowsAreNeeded()" class="mx-arrow mx-arrow-left" @click="showDifferentLabel('back')" data-print="no-print"><img src="@/assets/arrow.png" alt="Arrow back"></div>
      <div v-if="checkIfArrowsAreNeeded()" class="mx-arrow mx-arrow-right" @click="showDifferentLabel('forward')" data-print="no-print"><img src="@/assets/arrow.png" style="transform: rotate(180deg)" alt="Arrow forward"></div>
      <print-label
        :validRowForSelectedOption=validRowForSelectedOption
        v-if="getSelectedOption"
        @receiveErrorMessage = passErrorMessageToParent />
      <print-button
        class="mx-set-new-position"
        @click.native="createPDF"
        :class="{'mx-invisible': !getSelectedOption || error.length}" />
        <!-- Container for print elements -->
        <div class="htmlContent">
        </div>
      </div>
  </div>
</template>

<script>
import GeneralInformation from './GeneralInformation'
import PrintRegistration from '@/mixins/Print/PrintRegistration'
import PrintData from '@/mixins/Print/PrintData'
import PrintHelperFunctions from '@/mixins/Print/PrintHelperFunctions'
import PrintEventFunctions from '@/mixins/Print/PrintEventFunctions'

export default {
  name: 'Label',

  components: {
    GeneralInformation
  },

  props: {
    validRowForSelectedOption: Array,
    error: String,
    tables: Array
  },

  mixins: [
    PrintRegistration,
    PrintData,
    PrintHelperFunctions,
    PrintEventFunctions
  ],

  methods: {
    // Passes error message of child component
    passErrorMessageToParent (errorMessage) {
      this.$emit('receiveErrorMessage', errorMessage)
    },

    showDifferentLabel (type) {
      const getCurrentChosenOption = +this.getSelectedOption
      const getLengthOfAvalableOptions = document.querySelectorAll('#selectField option').length
      // Backwards
      if (type === 'back') {
        if (getCurrentChosenOption === 1) {
          this.$store.dispatch('setSelectedOption', getLengthOfAvalableOptions - 1)
          this.setSelectedOptionSelect('#selectField', getLengthOfAvalableOptions - 1)
        } else {
          this.$store.dispatch('setSelectedOption', getCurrentChosenOption - 1)
          this.setSelectedOptionSelect('#selectField', getCurrentChosenOption - 1)
        }
        return
      }

      // Forwards
      if (getCurrentChosenOption === getLengthOfAvalableOptions - 1) {
        this.$store.dispatch('setSelectedOption', 1)
        this.setSelectedOptionSelect('#selectField', 1)
      } else {
        this.$store.dispatch('setSelectedOption', getCurrentChosenOption + 1)
        this.setSelectedOptionSelect('#selectField', getCurrentChosenOption + 1)
      }
    },

    setSelectedOptionSelect (idOfElement, index) {
      const getOptionOfSelectField = document.querySelectorAll(`${idOfElement} option`)
      getOptionOfSelectField.forEach((option) => {
        option.removeAttribute('selected')
      })
      getOptionOfSelectField[index].setAttribute('selected', 'selected')
    },

    checkIfArrowsAreNeeded () {
      return (document.querySelectorAll('#selectField option').length !== 2)
    }

  }
}
</script>

<style lang="scss">

.mx-invisible {
  display: none;
}

.mx-labels-cta {
  position: relative;
  text-align: center;
}

.mx-set-new-position {
  position: absolute;
  transform: translate(23rem, 2rem);
}

.mx-arrow {
  color: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 1.6rem;
}

.mx-arrow-left {
  left: 50rem;
}

.mx-arrow-right {
  right: 50rem;
}

.mx-disable-arrow {
  color: red;
  pointer-events: none;
  opacity: .5;
}

// JavaScript classes
.htmlContent {
  pointer-events: none;
  transform: translateY(-12rem);
}

.htmlContentWrapper {
  height: 297mm;
  width: 210mm;
  display: flex;
  align-items: center;
}

.htmlContentWrapper--info-page {
  height: 297mm;
  width: 210mm;
  color: #000;
  line-height: 1.5;

  span {
    display: block;
    text-align: left;
    margin-left: 5rem;
    font-size: 1.6rem;
  }
}

</style>
