<template>
  <div class="mx-container" data-print="no-print">
    <div class="mx-container-content">
      <div class="mx-first-row">
        <span class="mx-first-row__package-number">{{ validRowForSelectedOption[3] }}</span>
        <span class="mx-first-row__type">{{ validRowForSelectedOption[2] }}</span>
        <span class="mx-first-row__start-value">{{ validRowForSelectedOption[10] }}</span>
      </div>
      <div class="mx-second-row">
        <div class="mx-second-row-first-line">
          <span>{{ validRowForSelectedOption[4] }}</span>
          <span>{{ validRowForSelectedOption[5] }}</span>
        </div>
        <div class="mx-second-row-second-line">
          <span class="mx-second-row-second-line__title">Charge:</span>
          <span>{{ validRowForSelectedOption[6] }}</span>
        </div>
        <div class="mx-second-row-third-line">
          <span class="mx-second-row-third-line__title">Verw. bis:</span>
          <span>{{ validRowForSelectedOption[7] }}</span>
          <div class="mx-second-row-third-line-charge">
            <span class="mx-second-row-third-line__charge">{{ validRowForSelectedOption[8] }}</span>
          </div>
        </div>
      </div>
      <div class="mx-third-row">
        <svg id="barcode" jsbarcode-fontoptions="bold"></svg>
      </div>
    </div>
  </div>
</template>

<script>
import JsBarcode from 'jsbarcode'
export default {

  name: 'PrintLabel',

  props: {
    validRowForSelectedOption: Array
  },

  watch: {
    '$store.state.selectedOption' (value, oldValue) {
      this.showBarcode()
    }
  },

  mounted () {
    this.showBarcode()
  },

  methods: {
    showBarcode () {
      this.$nextTick(() => {
        JsBarcode('#barcode', this.calculateBarcode(), { format: 'CODE128' })
      })
    },

    calculateBarcode () {
      // Materialnnumer + Leerzeichen + Charge = 23
      const maxNumberOfChars = 23
      const materialNumber = this.validRowForSelectedOption[8]
      const charge = this.validRowForSelectedOption[6]
      if (materialNumber && charge) {
        const sumOfChars = materialNumber.length + charge.length
        // Error handling
        if (sumOfChars > 23) {
          const newError = 'Charge und Materialnummer können nicht zusammen länger als 23 Ziffern sein.'
          this.$emit('receiveErrorMessage', newError)
        }
        let generatedBarcode = materialNumber + charge
        for (let index = 0; index < maxNumberOfChars - sumOfChars; index++) {
          generatedBarcode += ' '
        }
        return generatedBarcode
      }
    }
  }
}

</script>

<style lang="scss">

.mx-container-content {
  height: 103mm;
  width: 199mm;
  font-size: 1.4rem;
  margin: 0 auto;
  border: 1px solid #000;
  background-color: #fff;
  padding: 0 5rem;
}

.mx-first-row {
  position: relative;
  display: flex;
  align-items: center;
  transform: translateY(5px);
}

.mx-first-row__type {
  text-transform: uppercase;
  font-weight: 800;
  width: 33.33%;
}

.mx-first-row__package-number {
  width: 33.33%;
}

.mx-first-row__start-value {
  width: 33.33%;
}

.mx-second-row {
  text-align: left;
  border-top: .2rem solid black;
  border-bottom: .2rem solid black;
}

.mx-second-row-first-line {
  display: flex;
  padding-top: 2rem;
  span:first-child {
    font-weight: 800;
    padding-left: 8rem;
  }

  span:last-child {
    width: 33.33%;
    text-align: center;
    margin-left: auto;
  }
}

.mx-second-row-second-line {
  padding-top: 1rem;
}

.mx-second-row-second-line__title {
  display: inline-block;
  padding-left: 8rem;
  min-width: 15rem;
}

.mx-second-row-third-line {
  display: flex;
  padding-top: 1rem;
}

.mx-second-row-third-line__title {
  display: inline-block;
  padding-left: 8rem;
  min-width: 15rem;
}

.mx-second-row-third-line-charge {
  display: inline-block;
  width: 33.33%;
  text-align: center;
  margin-left: auto;
}

.mx-second-row-third-line__charge {
  color: #fff;
  padding: .5rem;
  background-color: #000;
}

.mx-third-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mx-third-row svg {
  height: 11rem;
}

.mx-first-row {
  height: 20%;
}

.mx-second-row {
  height: 40%;
}

.mx-third-row {
  height: 40%;
}

</style>
