<template>
  <div class="mx-product-name" data-print="no-print">mx-v</div>
</template>

<script>
export default {

}
</script>

<style lang="scss">

.mx-product-name {
  position: absolute;
  font-size: 1.6rem;
  bottom: 2rem;
  right: 5rem;
  color: #fff;
  text-transform: uppercase;
}

</style>
