<template>
  <div class="mx-header" data-print="no-print">
    <div class="mx-header-utilities">
      <span class="mx-header-utilities_user-name">{{userName}}</span>
      <span class="mx-header-utilities_table-name">{{nameOfTable}}</span>
      <span class="mx-header-utilities_connection">
        <connection-state :isConnected="isConnected" />
      </span>
    </div>
    <div class="mx-header-main">
      <div class="mx-header-main-svg-container">
        <svg-component :renderLogo=true />
      </div>
    </div>
  </div>
</template>

<script>
import ConnectionState from '@/components/ConnectionState'
import SvgComponent from '@/components/SvgComponent'

export default {
  name: 'TheHeader',

  components: {
    ConnectionState,
    SvgComponent
  },

  props: {
    userName: String,
    nameOfTable: String,
    isConnected: Boolean,
    errorMessage: String
  }
}
</script>

<style lang="scss">

.mx-header {
  height: calc(7.2rem + 4.2rem);
  background-color: red;
}

.mx-header-utilities {
  display: flex;
  align-items: center;
  height: 4.2rem;
  background-color: #232942;
}

.mx-header-utilities_table-name {
  color: #fff;
  font-size: 1.6rem;
  flex-basis: 33.33%;
  text-align: center;
}

.mx-header-utilities_user-name {
  color: #fff;
  font-size: 1.6rem;
  flex-basis: 33.33%;
  text-align: center;
  text-transform: capitalize;
}

.mx-header-utilities_connection {
  flex-basis: 33.33%;
  text-align: center;
}

.mx-header-main {
  display: flex;
  align-items: center;
  height: 7.2rem;
  background-color: #fff;
  border-bottom: 1px solid black;
}

.mx-header-main-svg-container {
  flex-basis: 33%;
  text-align: center;
}

.mx-header-main-svg-container svg {
  height: 4.4rem;
}

</style>
