<template>
  <div>
    <the-header
      :userName="userName"
      :nameOfTable="nameOfTable"
      :isConnected="isConnected" />
    <error-field :errorMessage="error" />
    <div class="mx-cta-container">
      <Settings
        v-if="isConnected"
        :tables="tables"></Settings>
      <connection-field
          @keyup.native="checkValidKey"
          @focusout.native="checkValidKey"
          @paste.native="checkValidKey"
          @changedKey="changedKey = $event" />
        <connection-button
          :isConnected=isConnected
          :isValidKey=isValidKey
          @click.native="switchDocument" />
    </div>
    <main-canvas
      :class="{'mx-invisible': !getSelectedOption || error.length}"
      :validRowForSelectedOption="validRowForSelectedOption"
      @receiveErrorMessage = "error = $event"
      :error=error />
    <the-footer />
  </div>
</template>

<script>

import Registration from '../mixins/Registration'
import Data from '../mixins/Data'
import HelperFunctions from '../mixins/HelperFunctions'
import EventFunctions from '../mixins/EventFunctions'
import Main from '../mixins/Main'
export default {
  name: 'Home',

  mixins: [
    Registration,
    Data,
    HelperFunctions,
    EventFunctions,
    Main
  ]
}

</script>

<style lang="scss">

.mx-cta-container {
  height: 12rem;
  padding: 5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  select {
    align-self: flex-start;
  }

  input {
    margin-right: 5rem;
  }
}

[data-print="yes-print"] {
  display: none;
}

@media print {
  [data-print="no-print"] {
    display: none;
  }

  [data-print="yes-print"] {
    display: block;
  }

  body {
    background: none;
    overflow: hidden;
  }
}

</style>
