<template>
  <span
    class="mx-login--disconnected"
    :class="{'mx-login--connected': isConnected}" data-print="no-print">{{connectionState[isConnected]}}</span>
</template>

<script>
export default {
  props: {
    isConnected: Boolean
  },

  data () {
    return {
      connectionState: { // To use only one if block inside the template
        true: 'Verbunden',
        false: 'Nicht verbunden'
      }
    }
  }
}
</script>

<style lang="scss">

.mx-login--disconnected {
  color: #fff;
  font-size: 1.6rem;
}

.mx-login--connected {
  color: #3c8062;
}

</style>
