<template>
  <div>
    <span class="mx-error__message" data-print="no-print">{{errorMessage}}</span>
  </div>
</template>

<script>
export default {
  name: 'ErrorField',
  props: {
    errorMessage: String
  }
}
</script>

<style lang="scss">

.mx-error__message {
  position: absolute;
  bottom: 2rem;
  display: inline-block;
  color: #efefef;
  padding: .5rem 2rem;
  font-size: 1.6rem;
  font-weight: 600;
}

</style>
