<template>
  <div class="mx-settings" data-print="no-print">
    <select-field :options=tables[0] />
  </div>
</template>

<script>
import SelectField from '@/components/Elements/SelectField'

export default {
  name: 'Settings',

  components: {
    SelectField
  },

  props: {
    tables: Array
  }
}
</script>

<style lang="scss">

.mx-settings {
  font-size: 1.6rem;
  margin-right: auto;
}

</style>
