<template>
  <a href="#" class="mx-btn" :class="{ 'mx-link--disconnect': !isValidKey && !isConnected}" data-print="no-print">{{onlineState[isConnected]}}</a>
</template>

<script>
export default {
  name: 'ConnectionButton',

  props: {
    isValidKey: Boolean,
    isConnected: Boolean
  },

  data () {
    return {
      onlineState: {
        true: 'Verbindung beenden',
        false: 'Verbindung aufbauen'
      }
    }
  }
}
</script>

<style lang="scss">

.mx-btn {
  height: 4.2rem;
  width: 22.153rem;
  color: #fff;
  text-decoration: none;
  font-size: 1.6rem;
  padding: 1rem 2rem;
  border-radius: 7rem;
  letter-spacing: 1px;
  font-weight: 400;
  background-color: #3c8062;
  transition: background-color .3s;

  &:hover {
    background-color: #3d9173;
  }

  &:focus {
    border: none;
    outline: none;
  }
}

.mx-link--disconnect {
  color: #aaa;
  background-color: #efefef;

  &:hover {
    background-color: #efefef;
  }

  &:focus {
    border: none;
    outline: none;
  }
}

</style>
