<template>
  <label for="switchKey" data-print="no-print">
    <input id="switchKey" type="text" @input="emitToManipulateChangedKey" placeholder="Key hier eingeben" spellcheck="false">
  </label>
</template>

<script>
export default {
  name: 'ConnectionField',

  methods: {
    emitToManipulateChangedKey () {
      const getInputFromSwitchKey = document.querySelector('#switchKey').value.trim()
      this.$emit('changedKey', getInputFromSwitchKey)
    }
  }
}
</script>

<style lang="scss">

#switchKey {
  width: 30rem;
  border: none;
  outline: none;
  font-size: 1.6rem;
  font-family: inherit;
  padding: 1rem 2rem;
  border-radius: 3px;
  opacity: 1;
  background-color: #efefef;

  &:disabled {
    background-color: rgb(232, 240, 254);
  }
}

</style>
