<template>
  <a href="#" class="mx-print-button" data-print="no-print">Drucken</a>
</template>

<script>
export default {
  name: 'PrintButton'
}
</script>

<style lang="scss">

.mx-print-button {
  position: absolute;
  height: 4.2rem;
  width: 15rem;
  color: #fff;
  text-decoration: none;
  font-size: 1.6rem;
  padding: 1rem 2rem;
  border-radius: 7rem;
  letter-spacing: 1px;
  font-weight: 400;
  background-color: #3c80fd;
  transition: background-color .3s;

  &:hover {
    background-color: #4d92fd;
  }

  &:focus {
    border: none;
    outline: none;
  }
}

</style>
