<template>
  <div>
    <label class="test">
      <select id="selectField" v-model="selectedValue" @change="setSelectedOptionVuex">
        <option v-for="(option, index) of options" :key="index" :value="index">
          {{option}}
        </option>
      </select>
    </label>
  </div>
</template>

<script>
export default {
  name: 'SelectField',

  props: {
    options: Array
  },

  data () {
    return {
      selectedValue: 0
    }
  },

  created () {
    // Init variable in vuex
    this.setSelectedOptionVuex()
  },

  mounted () {
    this.disableFirstOptionOfSelectField()
  },

  methods: {
    // Used for init and @change option
    setSelectedOptionVuex () {
      this.$store.dispatch('setSelectedOption', this.selectedValue)
    },

    disableFirstOptionOfSelectField () {
      const getOptionsFromSelectField = document.querySelector('#selectField option')
      getOptionsFromSelectField.setAttribute('disabled', true)
    }
  }
}
</script>

<style lang="scss">

#selectField {
  width: 30rem;
  border: none;
  outline: none;
  font-size: 1.6rem;
  font-family: inherit;
  padding: 1rem 2rem;
  border-radius: 3px;
  opacity: 1;
  background-color: #efefef;
}

</style>
