<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<style lang="scss">

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 62.5%;
}

body {
  height: 100vh;
  background: url(assets/LadingPageImage.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow-y:scroll;
}

</style>
